h1 {
    text-shadow: -5px -5px 7px rgb(102, 219, 223), 5px 5px 7px rgb(212, 107, 223);
    font-size: 100px;
    margin-left: 250px;
}

.container {
    width: 400px; /* задает ширину круга */
    height: 400px; /* задает высоту круга */
    background-color: rgb(212, 107, 223); /* устанавливает цвет фона */
    box-shadow: 0 0 100px rgb(0, 0, 0); /* применяет тень ко всему кругу */
    border-radius: 50%; /* делает скругленные углы, чтобы круг не выглядел как овал */
    position: absolute; /* абсолютное позиционирование */
    margin-left: 400px;
}
  
.content {
    width: 320px; 
    height: 320px; 
    background-color: rgb(0, 0, 0); 
    border-radius: 50%;
    position: absolute;
    top: 50%; /* позиционирует второй круг по центру вертикали */
    left: 50%; /* позиционирует второй круг по центру горизонтали */
    transform: translate(-50%, -50%); /* сдвигает круг на половину его размера */
}
  
.circle {
    width: 120px; 
    height: 120px; 
    background-color: rgb(255, 255, 255); 
    border-radius: 50%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.circle-1 {
    width: 80px; 
    height: 80px; 
    background-color: rgb(83, 119, 226); 
    box-shadow: 0px 0px 40px 10px rgb(83, 119, 226);
    border-radius: 50%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    filter: blur(7px); /* делает размытые края у круга*/
}