#magazineTitle {
  color: blue; 
  text-transform: uppercase; /*заглавные*/
  text-decoration: underline; /*подчеркнутые*/
}

p {
  color: rgb(63, 147, 199); 
  font-size: 1.3em; /* 7. Размер шрифта параграфов должен быть задан при помощи относительной единицы em. */
}

body {
  font-size: 18px; /* 2. Задай размер шрифта всем параграфам при помощи принципа наследования.*/
}

.individual {
  color: rgb(130, 22, 63); 
}

a:hover { /* 1. Используя псевдокласс «hover», стилизуйте теги <a> так, чтобы они меняли цвет, когда пользователь наводит на них курсор.*/
  color: rgb(183, 255, 0); 
}

.black_point {
  text-decoration: none;
}

h2:first-of-type { /* 3. Задай специальный (любой) цвет первому подзаголовку, испольщуя псевдокласс. ("first-child" ne rabotaet)*/
  color: rgb(62, 199, 137); 
}

ol:first-of-type li:nth-child(even) { /* 4. В первом списке, задай специальный цвет каждому четному элементу списка.*/
  color: rgb(198, 110, 157); 
}

ul:last-of-type li:nth-last-child(2) { /* 5. Bо втором списке задай специальный цвет второму с конца элементу списка. */
  color: rgb(198, 110, 157); 
}

/* 6. Размер шрифта заголовков должен быть задан при помощи относительной единицы rem.*/
h1 {
  font-size: 2.2rem; /* Размер шрифта для h1 */
  background-color: rgba(233, 102, 102, 0.5); /* 11. Используя RGBA, измени цвет фона тега h1 (прозрачность 0.5) */
}

h2 {
  font-size: 1.7rem; /* Размер шрифта для h2 */
}

h3 {
  font-size: 1.7rem; /* Размер шрифта для h3 */
}

nav ul li a::before { /* 9. С помощью псевдоэлемента "::before" добавьте какой нибудь символ перед каждой ссылкой меню. Например, звездочку или точку перед каждой ссылкой.*/
  content: "&"; /* Вставляем символ перед каждой ссылкой */
  margin-right: 5px; /* Добавляем небольшой отступ между символом и текстом ссылки */
}

nav ul li a::after { /* 10. Используя псевдоэлемент «::after», добавь аналогичный элемент после каждой ссылки. */
  content: "&"; /* Вставляем символ после каждой ссылки */
  margin-left: 5px; /* Добавляем небольшой отступ между символом и текстом ссылки */
}

#img {
  width: calc(50%  + 150px); /* 12. Задай ширину большой картинки используя математические функции. Ширина должна составлять 50% ширины экрана плюс 150px. При этом в качетве селектора используй любой аттрибут этого элемента img */
}